*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    padding-left: 10px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img{
    width: 50px;
}
nav{
    display: flex;
}
.nav-link{
    padding: 20px;
    text-decoration: none;
    color: black;
}
.nav-link:hover{
    background-color: honeydew;
}